In [1]:
import pandas as pd
df = pd.read_csv("./fourier.csv")
df.tail()

         1  0.059979003  0
1018  1020    -0.029646  0
1019  1021    -0.000498  0
1020  1022     0.026954  0
1021  1023     0.052625  0
1022  1024     0.076435  0

In [3]:
df.dtypes

1                int64
0.059979003    float64
0                int64
dtype: object